<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jp.co.cyberagent.dojo2019">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".presentation.BottomTab.BottomTabActivity"
                android:label="@string/title_activity_bottom_tab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".presentation.UserShow.UserShowActivity"
                android:label="Capture Result">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                        android:host="dojo"
                        android:scheme="ca-tech"/>
            </intent-filter>
        </activity>
        <activity android:name="jp.co.cyberagent.dojo2019.presentation.Common.WebViewActivity">
        </activity>
        <activity
                android:name="jp.co.cyberagent.dojo2019.presentation.UserDetail.UserDetailActivity"
                android:label="User Detail">
        </activity>
    </application>

</manifest>